#about-me {
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#about-me .quote-container {
    text-align: center;
}

#about-me .photo {
    width: 80%;
    border-radius: 50%;
}

#about-me .quote {
    margin: 1rem 0;
}

@media (min-width: 768px) {
    #about-me {
        flex-direction: row;
    }

    #about-me .info {
        width: 40%;
    }

    #about-me .quote-container {
        text-align: left;
    }

    #about-me .photo {
        width: 20%;
        margin: 0 200px;
    }
}
