#podcast {
    margin-bottom: 10px;
}

#podcast .info {
    padding: 20px;
}

#podcast .apple {
    color: #8a30c5;
}

#podcast .btn-podcast {
    margin-top: 10px;
    color: white;
    text-transform: uppercase;
    background-color: #bd7dd8;
}

@media (min-width: 768px) {
    #podcast {
        margin-top: 100px;
    }

    #podcast img {
        width: 90% !important;
    }

    #podcast .info {
        width: 30%;
        margin: auto;
    }
}
